# OS 관련 임시 파일
.DS_Store
Thumbs.db
.localized
Library/
Documents/
.vscode/

# VS Code 설정 관련
.vscode/

# 언어별 빌드 결과물이나 라이브러리 (예: Python, Node.js 등)
node_modules/
__pycache__/
*.exe
*.bin

# 기타 로그 파일
*.log